<footer>
  <div class="footer-bp ps-4 pe-4 pt-4 pb-4">
    <div>
      <div class="me-4">
        <i class="fa-regular fa-envelope me-2"> </i>
        <p><a href="mailto:btdhaslan@gmail.com">Send Us a Mail</a></p>
      </div>
      <div>
        <i class="fa-solid fa-location-dot me-2"></i>
        <h5>Trabzon</h5>
      </div>
    </div>
    <div>
      <i class="fa-brands fa-twitter me-4 fa-xl"></i>
      <i class="fa-brands fa-facebook me-4 fa-xl"></i>
      <i class="fa-brands fa-instagram me-4 fa-xl"></i>
      <i class="fa-brands fa-github me-4 fa-xl"></i>
      <i class="fa-brands fa-linkedin"></i>
    </div>
  </div>
</footer>
