<div class="nav">
  <div class="nav-logo"><img src="/images/logo.jpg" alt="" /></div>
  <div class="nav-links">
    <a href="">About</a>
    <a href="">Sıgn In</a>
    <a href="" style="background-color: grey">Login</a>
  </div>
</div>
