<div class="nav">
  <div class="nav-logo">
    <a href="/">  <img src="/images/logo.jpg" alt="" /></div>
    </a>
    
    <div class="nav-links">
      <a href="/about" class="<%= currentPage === '/about' ? 'activeButton' : 'nav-link' %>">About</a>
      <a href="/signIn" class="<%= currentPage === '/signIn' ? 'activeButton' : 'nav-link' %>">Sign In</a>
      <a href="/login" class="<%= currentPage === '/login' ? 'activeButton' : 'nav-link' %>">Login</a>
    </div>
  </div>
</div>
