<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <title>Login</title>
  </head>
  <body class="loginBody">
    <%- include('../partials/nav') %>
    <div class="center-bp loginBoxAbout flexToBottom">
      <h2>giriş yaptınız</h2>
    </div>
    <%- include('../partials/foot') %>
  </body>
</html>
