<html>
  <head>
    <title>anasayfa</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
  </head>
  <body>
    <%- include('../partials/nav') %>
    <img src="images/graduate.jpg" alt="" class="imgDiv" />
    <%- include('../partials/foot') %>
    <script
      src="https://kit.fontawesome.com/d497048b92.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
